#app{
  font-size: 160px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: black;
  cursor: none;
}

#help {
  background-color: #f7af0f;
  position: fixed;
  bottom:0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  color: #ce3c17;
}
b {
  font-size: 130%;
}

#app.form {
  background-color: white;
  cursor: default;
}
#app.form>div {
  display: flex;
  align-items: center;
}

input {
  text-align: right;
  border:none;
  flex-shrink: 1;
  width: 120px;
  font-size: 100px;
  color: black;
}

span {
  font-size:50px;
  font-weight:normal;
  font-family: serif;
  margin:0;
  text-transform: none;
  position: relative;
  top:22px;
}

img {
  height: 150px;
}

button.start {
  background-color: green;
  box-shadow: 0 0 3px 3px #0f05;
}

/* for chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;}             


/* for mozilla */  
input[type=number] {-moz-appearance: textfield;}



#app.green {
  background-color: green;
}
#app.yellow {
  background-color: yellow;
}
#app.red {
  background-color: red;
}
#app.CLAPS,#app.ok {
  background-color: black;
  color: white;
}